@font-face {
    font-family: iran;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb.woff') format('woff'), url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

#root, #index {
    height: 100vh;
    width: 100vw;
}

#main {
    width: 100%;
    height: 100vh;
    background: #dddee8;
    display: flex;
    flex-wrap: wrap;
}

#navigation {
    width: 100%;
    height: 30vh;
    padding: 50px 10px;
    background: #252a6e;
    display: flex;
    flex-wrap: wrap;
}


#left-item, #right-item {
    height: 100vh;
    width: 50%;
}

#left-item {
    display: flex;
    flex-direction: column;
}

#right-item {
}

.navigation-menu {
    display: flex;
}

.navigation-item {
    padding: 10px 1vw;
}

.navigation-link {
    text-decoration: none !important;
    color: #ffffff;
}

.navigation-link:hover, .navigation-link:active {
    color: #dfb960;
}

/************** languages *****/
.languages-list {
    z-index: 99;
    position: absolute;
}

.languages-box {
    display: block;
    position: relative;
    width: 3em;
}

.language > img {
    height: 3em;
}


/************** languages *****/
/************** Search-box *****/
.search-box {
    margin-left: 5px;
}

#center_button:hover {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: transform 1.5s ease-in-out;
    -moz-transition: transform 1.5s ease-in-out;
    -o-transition: transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out;
}

.search-item > img:hover {
    transform: rotate(360deg);
    transition: 1s ease-in-out;
    -ms-transform: rotate(360deg); /* IE 9 */
}

.search-item > img {

    height: 4em;
}


/************** EndSearch-box *****/
/************** Search-Page *****/
.page-search {
    display: flex;
    width: 100vw;
}

.language-top-contact-box {
    margin-left: 1em;
    margin-top: .5em;
}

.search-section {
    width: 75vw;
    height: 100vh;
}

.contact-section {
    width: 25vw;
    height: 100vh;
}

.top-contact-box {
    padding: 2em 3em 0 3em;
    display: flex;
}

.contact-box {
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
}

.contact-box > a {
    margin: 1em 0;
}

.contact-box > a > img, .close-top-contact-box > img {
    height: 4em;
}

.input-box {
    height: 100vh;
    padding: 45vh 7vw;
}

.search-input::placeholder {
    color: #a2a5c5;
}

.search-input {
    color: #ffffff;
    background: url("../media/img/search_ico.svg");
    background-repeat: no-repeat;
    background-position: right;
    height: 55px;
    background-size: 30px 30px;
    width: 100%;
    padding-right: 40px;
    outline: none;
    border-top: none;
    border-bottom: 1px solid #ffffff;
    border-left: none;
    border-right: none;
}

.search-input[type=input]:focus {
    outline: none;
}

.page-search-area {
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: #252a6e;
    z-index: 99;
    top: 0;
}

/************** End Search-Page *****/

#logo-mobile-section {
    display: none;
}

#logo {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}

.logo-desktop {
    display: block;
}

.logo-desktop {
    display: flex;
    justify-content: flex-end;
    margin: 25px 20px;
}

.logo-desktop img {
    height: 100px;
}

.header-text {
    margin: 15px; /*50px 20px;*/
    color: #252a6e;
}

.left-header {
    margin-left: 2vw;
}

.center-header {
    margin-left: 2vw;
}

.center-header > b {
    color: #dfb960;
}

.right-header {
    /*margin-left: 36vw;*/
}

#test-slide {
    height: 100px;
    width: 100%;
    background: green;
}

#center_button {
    display: flex;
    position: fixed;
    top: 25vh;
    z-index: 2;
}

#center_button svg {
    height: 50px;
}

.slider-box > img {
    width: 100%;
}

/****************** carousel *********************/
.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.carousel {
    /*height: 75vh;*/
}

#carousel-box {
    width: 100%;
    height: 70vh;
}

.carousel-inner, #carouselExampleIndicators {
    height: 70vh
}

.carousel-item {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*max-height: 500px;*/
}

.carousel img {
    width: unset;
    min-height: 100%;
    min-width: 100%;
}

@media screen and (max-width: 768px) {
    #left-item {
        height: 25vh;
    }

    #carousel-box {
        width: 100%;
        height: 45vh;
    }

    .carousel-inner, #carouselExampleIndicators {
        height: 45vh
    }
}

/****************** end carousel *********************/

/****************** popup box *********************/
.popup-box {
    background: #ffffff;
    width: 55vw;
    height: 80vh;
    transition: 1s ease-in;
}

.context-popup {
    font-family: iran, Tahoma;
    font-size: 14px;
    margin-left: 1.2em;
    height: 52vh;
    padding-right: 5px;
    overflow-y: scroll;
}

.popup-box {
    background: #ffffff;
    position: absolute;
    top: 24vh;
    right: 0;
    width: 53vw;
    height: 76vh;
    z-index: 3;
    padding: 20px;
}

.popup-close-box-icon {
    height: 15px;
    margin: 0 0 0 15px;
    width: 15px;
    cursor: pointer;
}

.title-popup-box {
    color: #252a6e;
    font-family: iran;
    font-size: 16px;
    margin: .5em;
}

/****************** end popup box *********************/
@media screen and (max-width: 768px) {
    #center_button {
        top: 50vh;
    }

    #main {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #logo-mobile {
        position: absolute;
        left: 43%;
    }

    .logo-desktop {
        display: none;
    }

    #logo-mobile img {
        height: 50px;
    }

    #logo-mobile-section {
        display: block;
    }

    .navigation-menu {
        border-top: 1px solid #ffffff;
        flex-direction: column;
    }

    #left-item {
        display: flex;
        width: 100vw;
        flex-direction: column;
        /*position: fixed;*/
    }

    #right-item {
        display: flex;
        width: 100vw;
        flex-direction: column;
        height: 75vh;
    }

    #navigation {
        width: 100vw;
        z-index: 50;
        height: unset;
        padding: 55px 10px;
        background: #252a6e;
        display: flex;
        flex-wrap: wrap;
    }

    #nav-toggle {
        padding: 0 15px;
        display: block;
        cursor: pointer;
        width: 100%;
    }

    #nav-toggle > img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        padding-top: 15px;
    }

    .navigation-menu {
        margin-top: 30px;
        width: 100%;
    }

    .navigation-item {
        border-bottom: 1px solid #ffffff;
        padding: 10px 0;

    }

    .close-box {
        right: 5%;
        position: absolute;
        margin-top: 5px;
        cursor: pointer;
    }

    .footer-box {
        background: #dddee8;
        position: fixed;
        display: flex;
        z-index: 99;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100vw;
        justify-content: space-around;
        padding: 15px;
    }

    .header-text {
        font-size: 4rem;
        color: #252a6e;
        height: 20vh;
    }

    .context-popup {
        font-family: iran, Tahoma;
        font-size: 14px;
        height: 43vh;
        margin-left: 0.5em;
        overflow: scroll;
    }
}

.full-height {
    height: 100vh !important;
}

.full-width {
    width: 100vw !important;
}

.z-index-99 {
    z-index: 99;
}

@media screen and (max-width: 1024px) {
    #center_button {
        display: flex;
        position: fixed;
        top: 29vh;
        z-index: 2;
    }

    .title-popup-box {
        margin: 1.5em;
    }

    .popup-box {
        background: #ffffff;
        position: absolute;
        top: 21vh;
        left: 0;
        width: 100vw;
        height: 92vh;
        z-index: 56;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    #center_button {
        top: 45vh;
    }
}


.col-st-2 {
    width: 20%;
    /*padding: 5px;*/
    margin: 5px;
}


.col-st-2 > a {
    color: #252a6e;
    text-decoration: none;
}

.col-st-2 > a > .card {
    border-radius: 0;
}

.col-st-2 > a > .card > .card-body {
    padding: .5rem;
}

.col-st-2 > a > .card > .card-body > .card-title {
    margin: 0;
}


.col-st-2 > a:hover > .card {
    background: #252a6e;
    color: #dfb960;
}

.margin-left-right-x15 {
    margin: auto 15px;
}
